.email-input-container {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 50%;
}

.search-icon {
  font-size: 1.75rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.email-input {
  flex: 1;
  font-size: 24px;
  border: none;
  outline: none;
  color: #333;
  font-family: inherit;
  padding: 4px 0;
  border-bottom: 1px solid #333;
}

.email-input::placeholder {
  color: #bbb;
  font-weight: 100;
}
